@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1c1917;
    overflow: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}